*{
    margin: 30px;
}
body{
    font-family:Tahoma;
}
h1
{
    padding: 10px;
    border: 15px;
    border-style: dotted;
    color: hotpink;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;

}

p{
    background-color: orange;
color: darkblue;
text-align: justify;

}

img{
width: 30%;


}